*{
    margin: 0px;
    padding: 0px;
}
.n-l{
    background-color: black;
    padding:20px 0;
}
a,h1{
    color: white;
    text-decoration:none;
    display: inline-block;
}
h1{
    margin-left: 20px;
    margin-right: 800px;
}
a{
    margin-left: 20px;
    font-size: 22px;
    transition: 200ms ease;
}
.tf{
    font-size: 25px;
    width: 45px;
    height: 45px;
    position: absolute;
    right: 60px;
    border-radius: 50%;
    transition: 200ms ease;
}
.tf:hover{
    border: 3px solid white;
    transform: rotateY(60deg);
}
a:hover{
    text-decoration: white underline;
    transform:scale(1.10);
    transform: rotateY(360deg);
}
img{
    border-radius: 50%;
}
.img{
    padding:20px 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
#card{
    width: 250px;
    border-radius: 20px;
    background-color: royalblue;
    display: inline-block;
}

.main>p,h3{
    text-align: center;
    margin-bottom: 15px;
}
.main>button{
    background-color: blue;
    color: white;
    height:30px ;
    width:150px ;
    margin-bottom: 10px;
    margin-left: 50px;
    border: none;
    border-radius: 3px;
}
.main{
    background-color: #efefef;
    padding-top: 15px;
}